<!DOCTYPE    html>
<html>
<head>
    <title>AngularJS CRUD with v-grid</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <!-- Polymer polyfill -->
    <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
    <!-- VaadinX web components -->
    <script src="VAADIN/widgetsets/Demo/Demo.nocache.js"></script>
    <!-- Angular library -->
    <!-- Angular library -->
    <script src="bower_components/angularjs/angular.js"></script>
    <!-- VaadinX directives, TODO: make this be done in Demo.nocache.js -->
    <script src="ng-vaadin.js"></script>
</head>
<body>
    <div ng-app="CrudApp" ng-controller="CrudController">
        <v-grid selectionMode="single" selectedRow="{{rowIndex}}">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{{ d.name }}</td>
                        <td>{{ d.value }}</td>
                        <td>{{ d.progress }}</td>
                    </tr>
                </tbody>
            </table>
        </v-grid>
        <form id="form">
            Name: <input type="text" ng-model="row().name" /><br/>
            Value: <input type="text" ng-model="row().value" /><br/>
            Progress: <input type="text" ng-model="row().progress" /><br/>
            <button id="create" ng-click="create();">Create</button>
            <button id="update" style="display: none" ng-click="update();">Update</button>
            <button id="insert" style="display: none" ng-click="create();">Insert</button>
	        <button ng-click="delete();">Delete</button>
        </form>
    </div>

    <script>
        var app = angular.module("CrudApp", [ 'vaadin-x' ]);

        app.controller("CrudController", function($scope) {
            $scope.data = [
                            { name: "Gridddd", value: 10000, progress: 0.8 },
                            { name: "Vaadin X", value: 999999, progress: 0.1 },
                            { name: "designer", value: 43256, progress: 0.9 },
                            { name: "TK", value: 1967, progress: 0.5 }
                          ];

            $scope.editorRow = null;
            $scope.lastEditedRow = null;
            $scope.row = function() {
                if($scope.editorRow == null || $scope.lastEditedRow != $scope.rowIndex) {
                    var position = $scope.lastEditedRow = $scope.rowIndex;
                    if(!position || position < 0) {
                        document.getElementById("create").style.display = "inline";
                        document.getElementById("update").style.display = "none";
                        document.getElementById("insert").style.display = "none";
                        $scope.editorRow = {};
                    } else {
                        document.getElementById("create").style.display = "none";
                        document.getElementById("update").style.display = "inline";
                        document.getElementById("insert").style.display = "inline";
                        var original = $scope.data[position];
                        $scope.editorRow = { name: original.name,
                                             value: original.value,
                                             progress: original.progress
                                           };
                    }
                }
                return $scope.editorRow;
            }

            $scope.create = function() {
                var i = $scope.rowIndex;
                if(!i || i < 0) i = $scope.data.length;
                $scope.data.splice(i, 0, $scope.editorRow);

                $scope.editorRow = null;
            };

            $scope.read = function() {
                return $scope.data[$scope.rowIndex];
            };

            $scope.update = function() {
                var row = $scope.read();
                if(!row) return;

                row.name = $scope.editorRow.name;
                row.value = $scope.editorRow.value;
                row.progress = $scope.editorRow.progress;

                $scope.editorRow = null;
            };

            $scope.delete = function() {
                var row = $scope.read();
                if(!row) return;

                $scope.data.splice($scope.data.indexOf(row), 1);

                $scope.editorRow = null;
            }
        });
    </script>
</body>
</html>