 <link rel='import' href='VaadinComponents/VaadinComponents-import.html'></link>
----
  <link rel='import' href='vaadin-x.html'></link>
----
  <v-slider></v-slider>
----
  vs = document.querySelector('v-slider')
  vs.value
  // move slider
  show value
  vs.getAttribute('value')
  vs.value
----
  vs.value = 0.5
----
  vs.setAttribute('value', '10')
----
  vs.setAttribute('theme', 'reindeer')
----
  <table>
    <head>
      <thead><tr><th>Name</th><th>Value</th><th>Progress</th></tr></thead>
    </head>
    <tbody>
      <tr><td>Grid</td><td>10000</td><td>0.8</td></tr>
      <tr><td>Vaadin X</td><td>999999</td><td>0.5</td></tr>
      <tr><td>Vaadin CDI</td><td>66666</td><td>0.1</td></tr>
    </tbody>
  </table>
----
<v-grid>
</v-grid>
----
  vg = document.querySelector('v-grid')
  vg.selectedRow
  vg.selectedRow = 2
----
<v-grid selectionMode='multi'>
----
  vg = document.querySelector('v-grid')
  vg.selectedRows
  vg.selectedRows = [0,2]
----

///////////// ANGULAR
---- W
<script src="angular.js"></script>
----
  <div ng-app='demoApp' ng-controller='demoAppCtrl'>
    <div>
      <input ng-model="idx" />
      <span>Selected row: {{idx}}</span>
    </div>
  </div>
----
  <script>
     var app = angular.module("demoApp", [ 'vaadin-components' ]);

     app.controller("demoAppCtrl", function($scope) {});
  </script>
----
        $scope.idx = -1;
----
   // Insert table before inputs.
     <v-grid selectedRow='3'>
      <table>
        <thead><tr><th>Name</th><th>Value</th><th>Progress</th></tr></thead>
        <tbody>
          <tr><td>Grid</td><td>10000</td><td>0.8</td></tr>
          <tr><td>Vaadin X</td><td>999999</td><td>0.2</td></tr>
        </tbody>
      </table>
     </v-grid>
----
          <tr><td>Grid</td><td>10000</td><td>0.8</td></tr>
          <tr><td>Vaadin X</td><td>999999</td><td>0.5</td></tr>
          <tr><td>Vaadin CDI</td><td>66666</td><td>0.1</td></tr>
----
      <v-grid>
      </v-grid>
----
  <link rel='import' href='vaadin-x.html'></link>
----
  <v-grid selectionMode="single" selectedRow="{{idx}}">
----
   // Write 0 1 2 in the input
   // Select a row, nothing happens
----
   // import vaadin angular directives
<script src="ng-vaadin.js"></script>

      var app = angular.module("demoApp", [ 'vaadin-components' ]);

----
        $scope.data = [
            [ "Gridddd", 10000, 0.8 ],
            [ "Vaadin X", 999999, 0.1 ],
            [ "designer", 43256, 0.9 ],
            [ "TK", 1967, 0.5 ] ];
----
      <tbody>
          <tr ng-repeat="row in data">
          </tr>
      </tbody>
----

            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
----
          <td><v-progress value='{{ row[2] }}'></v-progress></td>
----
         $scope.current = [1,2,3]
----
       <input type="text" placeholder='Name' ng-model="current[0]"><br/>
       <input type="text" placeholder='Value' ng-model="current[1]"><br/>
       <input type="text" placeholder='Progress' ng-model="current[2]"><br/>
----
         $scope.$watch('idx', function() {
          angular.copy($scope.data[$scope.idx], $scope.current);
        });
----
        <button ng-click="update()">Update</button>

----
        $scope.update = function() {
          angular.copy($scope.current, $scope.data[$scope.idx]);
        }
----
        <button ng-click="insert()">Insert</button>
----
        $scope.insert = function() {
           $scope.data.push(angular.copy($scope.current));
        }

----
        <button ng-click="remove()">Remove</button>
----
        $scope.remove = function() {
          $scope.data.splice($scope.idx, 1);
        }
