::shadow .v-resize-helper {
	visibility: hidden;
}

::shadow .v-resize-helper, ::shadow .v-resize-helper > div, ::shadow .v-resize-helper-contract:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

::shadow .v-resize-helper > div {
	background: #eee;
	overflow: auto;
}

::shadow .v-resize-helper-contract:before {
	width: 200%;
	height: 200%;
}