///
/// Error indicator styles. The error indicator is by default a font character which you can style freely.
///
/// @param {boolean} $is-pseudo-element [false] - is the selector including this mixin targeting a pseudo element
///
/// @requires {mixin} valo-error-indicator-icon-style by default
///
@mixin valo-error-indicator-style ($is-pseudo-element: false) {
  color: $v-error-indicator-color;
  font-weight: 600;
  width: ceil($v-unit-size/2);
  text-align: center;

  @if $is-pseudo-element {
    @include valo-error-indicator-icon-style;
  } @else {
    &:before {
      @include valo-error-indicator-icon-style;
    }
  }
}

///
/// The error indicator icon style. Should be a font character or a font icon.
///
@mixin valo-error-indicator-icon-style {
  content: "!";
}


///
///
///
///
/// @group link
///
@mixin valo-link-style {
  cursor: $v-link-cursor;
  color: $v-link-font-color;
  text-decoration: $v-link-text-decoration;
  font-weight: inherit;

  @if $v-animations-enabled {
    transition: color 140ms;
  }

  &:hover {
    color: lighten($v-link-font-color, 10%);
  }

  &.v-disabled {
    opacity: $v-disabled-opacity;
  }
}
