<!DOCTYPE  html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />

<!-- VaadinX web components -->
<script src="VAADIN/widgetsets/Demo/Demo.nocache.js"></script>
<!-- Angular library -->
<script src="angular.js"></script>
<!-- VaadinX directives, TODO: make this be done in Demo.nocache.js -->
<script src="ng-vaadin.js"></script>

</head>
<body>

  <div id='demo' ng-app='demoApp' ng-controller='demoAppCtrl'>

    <h3>Use AngularJS with v-slider (attribute binding)</h3>
    <v-slider value="{{slider.value}}"></v-slider>
    <pre ng-bind="slider.value"></pre>
    <input type="text" ng-model="slider.value" />
    <button ng-click="slider.changeSlider()">Set to 80</button>

    <h3>Use AngularJS with v-grid single selection via attributes</h3>
    <div>
      <v-grid selectionMode="single" selectedRow="{{grid.row}}">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Grid</td>
            <td>10000</td>
            <td>0.8</td>
          </tr>
          <tr>
            <td>Vaadin X</td>
            <td>999999</td>
            <td>0.3</td>
          </tr>
          <tr>
            <td>TK</td>
            <td>5555</td>
            <td>0.5</td>
          </tr>
        </tbody>
      </table>
      </v-grid>
      <p>Selected row: {{grid.row}}</p>
      <input ng-model="grid.row" />
    </div>

    <h3>Implement demo with AngularJS model used as the source of data for v-grid</h3>
    <v-grid selectedRow="{{model.idx}}">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in model.data">
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td><v-progress value='{{ row[2] }}'></v-progress></td>
        </tr>
      </tbody>
    </table>
    </v-grid>

    <h3>Implement simple crud editor with AngularJS for v-grid</h3>
       <span v={{model.idx}}>
       <input type="text" placeholder='Name' ng-model="model.current[0]"><br/>
       <input type="text" placeholder='Value' ng-model="model.current[1]"><br/>
       <input type="text" placeholder='Progress' ng-model="model.current[2]"><br/>

       <button ng-click="model.update()">Update</button>
       <button ng-click="model.remove()">Remove</button>
       <button ng-click="model.insert()">Insert</button>

  </div>


  <script>
      // Create an application module for our demo, inheriting vaadin-x directives
      var app = angular.module("demoApp", [ 'vaadin-x' ]);

      // Define the root-level controller for the application.
      app.controller("demoAppCtrl", function($scope) {

        // Slider demo data binding
        $scope.slider = {};
        $scope.slider.value = 30;
        $scope.slider.changeSlider = function() {
          $scope.slider.value = 80;
        }

        // Grid demo data binding
        $scope.grid = {};
        $scope.grid.row = -1;

        $scope.model = {};
        $scope.model.idx = -1;
        $scope.model.data = [ [ "Gridddd", 10000, 0.8 ],
            [ "Vaadin X", 999999, 0.1 ], [ "designer", 43256, 0.9 ],
            [ "TK", 1967, 0.5 ] ];
        $scope.model.current = []

        $scope.$watch('model.idx', function(newValue, oldValue) {
          console.log("change " + $scope.model.idx);
          angular.copy($scope.model.data[$scope.model.idx], $scope.model.current);
        });

        $scope.model.update = function() {
          angular.copy($scope.model.current, $scope.model.data[$scope.model.idx]);
        }
        $scope.model.remove = function() {
          $scope.model.data.splice($scope.model.idx, 1);
        }
        $scope.model.insert = function() {
          $scope.model.data.push(angular.copy($scope.model.current));
        }

      });
    </script>

</body>
</html>
