$v-font-family: Helvetica Neue, sans-serif;
$v-font-weight: 500;
$v-border: 0;
$v-border-radius: 0;
$v-background-color: #00b4f0;
$v-bevel: false;
$v-shadow: false;
$v-gradient: false;
$v-unit-size: 40px;
