$v-included-components: label, button, grid;

$v-font-family: "Helvetica Neue", arial, sans-serif;
$v-app-background-color: hsl(210,0,100%);
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-border: 0;

$v-grid-row-selected-background-color: #f0f0f0;
$v-grid-row-stripe-background-color: #fff;
$v-grid-header-border: none;
$v-grid-border: none;
$v-grid-cell-vertical-border: none;
$v-grid-cell-horizontal-border: 1px solid #e1e1e1;
$v-grid-cell-focused-border: none;


@import "valo";


.heroes.valo /deep/,
.heroes.valo {
  @include valo;

  .v-grid-row-focused .v-grid-cell {
    background: #f8f8f8;
  }

  .v-grid-row-selected .v-grid-cell {
    background: #f0f0f0;
    font-weight: 400;
  }

  .v-grid-header .v-grid-cell {
    background: #fafafa;
    border-bottom: 1px solid #e1e1e1;
  }
}
